<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Luciano Arias</title>
</head>
<body>
<header>
<h1>
	JAVA
</h1>
<nav>
    <ul>
      <li><a href="#">Introducción</a></li>
      <li><a href="#">La plataforma Java</a></li>
      <li><a href="#">Ediciones de la Plataforma Java</a></li>
    </ul>
</nav>
</header>
<main>
	<section>
		<h2>Introducción</h2>
		
		<h3>¿Qué es java?</h3>
		
		<p>Es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo</p>
		

	</section>
		<h2>La plataforma Java</h2>
		<ul>
			<li>Por definición, una plataforma es el ambiente hardware o software sobre el cual se puede
ejecutar un programa. La mayoría de las plataformas actuales se pueden describir como una
combinación de un sistema operativo y su hardware subyacente</li>

		</ul>
	<section>
		<h2>Ediciones de la Plataforma Java</h2>
		<p>La configuración de una plataforma Java afecta fundamentalmente los servicios que esta ofrece,
las herramientas adicionales que incorpora y también aspectos menos visibles, tales como el
modo de funcionamiento de la JVM. De acuerdo con la documentación actual de Oracle se
puede distinguir las siguientes cuatro ediciones de Java:</p>
		<p> Java SE</p>
		<p> Java FX</p>
		<p> Java EE</p>
		<p> Java ME</p>
	</section>
</main>

<footer>
	 <h2>Contacto</h2>
     <p>Correo Electrónico: lucianehuel05@gmail.com</p>
</footer>
</body>
</html>