<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>TP3 Luciano Arias</title>
		<link rel="stylesheet" href="/css/styles.css"></link>
	</head>
<body>
<header>
<h1>
	JAVA
</h1>
<nav>
    <ul>
      <li><a href="#">Introducción</a></li>
      <li><a href="#">La plataforma Java</a></li>
      <li><a href="#">Ediciones de la Plataforma Java</a></li>
      <li><a href="/formulario">Formulario</a></li>
    </ul>
</nav>
</header>

<main>

	<section>
		<h2>Introducción</h2>
		
		<h3>¿Qué es java?</h3>
		
		<p>Es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo</p>
		

	</section>
		<h2>La plataforma Java</h2>
		<ul>
			<li>Por definición, una plataforma es el ambiente hardware o software sobre el cual se puede
ejecutar un programa. La mayoría de las plataformas actuales se pueden describir como una
combinación de un sistema operativo y su hardware subyacente</li>

		</ul>
	<section>
		<h2>Ediciones de la Plataforma Java</h2>
		<p>La configuración de una plataforma Java afecta fundamentalmente los servicios que esta ofrece,
las herramientas adicionales que incorpora y también aspectos menos visibles, tales como el
modo de funcionamiento de la JVM. De acuerdo con la documentación actual de Oracle se
puede distinguir las siguientes cuatro ediciones de Java:</p>
		<h3>Java SE:</h3>
		<ul>
			<li>
		conocida como Standard Edition es la edición más difundida de la plataforma
Java. Incorpora el JDK, necesario para crear aplicaciones de escritorio con o sin interfaz
gráfica de usuario, acceso al sistema de archivos, comunicación a través de redes,
concurrencia y otros servicios básicos.
			</li>
		</ul>
		<h3>Java FX:</h3>
		<ul>
			<li>
			originalmente JavaFX era una alternativa a Java SE para el desarrollo de
proyectos de tipo RIA (Rich Internet Applications), con un núcleo más ligero y fácil de
distribuir, capacidad de aceleración 3D aprovechando la GPU, servicios avanzados para
producción de gráficos y animaciones, y un mecanismo simplificado para el diseño de
interfaces de usuario. JavaFX forma parte de Java SE desde la versión 7 de dicha edición
de la plataforma (y se eliminó de la misma a partir de la versión 13)
			</li>
		</ul>
		<h3>Java EE:</h3>
		<ul>
			<li>
		Java EE: denominada Enterprise Edition de la plataforma Java, es la versión dirigida al
desarrollo de soluciones software que se ejecutarán en un servidor de aplicaciones. A
las capacidades de Java SE, la edición EE agrega servicios para gestionar la persistencia
de objetos en bases de datos, hacer posible la invocación remota de métodos, crear
aplicaciones con interfaz de usuario web, etc.
			</li>
		</ul>
		<h3>Java ME:</h3>
		<ul>
			<li>
		Micro Edition, está enfocada a la creación de programas que se ejecutarán
en sistemas con recursos limitados, tales como teléfonos móviles, electrodomésticos y
dispositivos de domótica o equipos para entornos empotrados como la Rasperry Pi y
similares.
			</li>
		</ul>
	</section>
</main>

<footer>
	 <h2>Contacto</h2>
     <p>Correo Electrónico: lucianehuel05@gmail.com</p>
</footer>
</body>
</html>